@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: linear-gradient(#0000ff, purple);
}

h1,
h2,
h3 {
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
}

span {
  color: var(--text-color-dark);
}

.form-control {
  margin-bottom: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem;
  width: 960px;
  height: 500px;
  background-color: rgb(94, 94, 244);
  border: solid 2px darkblue;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
}

input {
  width: 500px;
  padding: 0.63rem;
  border: solid 1px #ddd;
}

ul {
  margin-top: 2rem;
}

button {
  background: #ffa200;
  border: solid 1px red;
  border-radius: 20px;
  padding: 0.8rem 2rem;
  margin-left: 1rem;
}

.todo-list {
  color: #fff;
  list-style: none;
}
