/* Start contact */
#contact-form {
  padding: 1.88rem 0;
  margin: 0 1rem;
}

#contact-form .form-control {
  margin-bottom: 1rem;
}

#contact-form label {
  display: block;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 0.63rem;
  border: solid 1px #ddd;
}

#contact-form textarea {
  height: 12.5rem;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none !important;
  border: solid 1px var(--secondary-color);
}

#contact-info {
  background: var(--primary-color);
  color: var(--text-color-light);
}

#contact-info .box {
  border-bottom: dotted 1px var(--primary-bg-color);
}

#contact-info .box:last-child {
  border-bottom: none;
}
/* End contact */

@media (min-width: 768px) {
  /* Start contact */
  #contact-form {
    max-width: 600px;
    margin: auto;
  }

  #contact-info > div {
    display: flex;
    justify-content: space-around;
  }
  #contact-info .box {
    border-bottom: none;
  }
  /* End contact */
}
