/* Start gallery */
#vehicles-gallery {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-around;
  gap: 2rem;
}

.vehicle-image {
  border: solid 1px var(--secondary-color);
  background: var(--text-color-light);
  min-width: 300px;
  border-radius: 0.5rem;
}

.vehicle-image img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
}

.vehicle-image img:hover {
  cursor: pointer;
}

.vehicle-image p {
  text-align: center;
  font-style: italic;
  color: var(--text-color-dark);
  margin-top: -16px;
}
/* End gallery */

@media (min-width: 768px) {
  /* Start gallery */
  #vehicles-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  /* End gallery */
}

@media (min-width: 1200px) {
  /* Start gallery */
  #vehicles-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  /* End gallery */
}
