/* Start about */
#about-area {
  padding: 1.25rem;
  background: #ddd;
  color: #000;
}

#about-area div {
  max-width: 960px;
  margin: auto;
}

#about-area h3 {
  text-align: center;
}

#about-area img {
  display: none;
}

#testimonials-area {
  background: #004d40;
  color: #fff;
  padding: 1rem;
}

#testimonials-area h3 {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  font-size: 1.2rem;
}

#testimonials-area div {
  display: flex;
  flex-direction: column;
}

#testimonials-area div section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  background: #00796b;
  margin-bottom: 10px;
  border-radius: 10px;
}

#testimonials-area div section img {
  display: block;
  height: 6rem;
  float: left;
  margin: 1rem 1.25rem;
  border-radius: 50%;
}

#testimonials-area div p {
  text-align: left;
}
/* End about */

@media (min-width: 768px) {
  /* Start about */
  #about-area div {
    display: flex;
  }

  #about-area img {
    display: block;
    height: 250px;
    border: solid 1px #333;
    background: #fff;
    padding: 2px;
  }
  /* End about */
}
