@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');

@import 'colors.css';
@import 'navbar.css';
@import 'utilities.css';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: var(--primary-bg-color);
  color: var(--text-color-light);
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

span {
  color: var(--text-color-dark);
}

section p {
  font-size: 0.9rem;
  padding: 0.7rem;
  text-align: center;
}

footer {
  text-align: center;
  background: var(--footer-color);
  color: var(--text-color-light);
  padding: 0.4rem;
}

.goback {
  display: inline-block;
  color: var(--text-color-light);
  margin-bottom: 1.4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.container {
  max-width: 960px;
  margin: auto;
}

.page-title {
  color: var(--secondary-color);
}

.full-width {
  width: 100%;
}

.box {
  padding: 2.5rem;
  text-align: center;
  width: 100%;
}

.box i {
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  section p {
    font-size: 1rem;
  }

  section i {
    font-size: 1.3rem;
  }
}
