@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');

@import 'navbar.css';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: #00796b;
  color: #f4f4f4;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

span {
  color: #000;
}

section p {
  font-size: 0.9rem;
  padding: 0.7rem;
  text-align: center;
}

footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 0.4rem;
}

.goback {
  display: inline-block;
  color: #f4f4f4;
  margin-bottom: 1.4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.container {
  max-width: 960px;
  margin: auto;
}

.page-title {
  color: #ef6c00;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background-color: #d5d3d3;
  color: #000;
}

.bg-primary {
  background: #00796b;
  color: #ffb74d;
}

.btn {
  display: inline-block;
  font-size: 0.9rem;
  color: #fff;
  background: #000;
  padding: 0.5rem 1.25rem;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.btn-light {
  background: #d5d3d3;
  color: #333;
}

.full-width {
  width: 100%;
}

.btn:hover {
  background: #e65100;
  color: #333;
}

.box {
  padding: 2.5rem;
  text-align: center;
  width: 100%;
}

.box i {
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  section p {
    font-size: 1rem;
  }

  section i {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 1rem;
  }
}
