.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #ef6c00;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
}

.card-body {
  margin: 1rem 0;
}

.card img {
  position: relative;
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card img:hover {
  cursor: pointer;
}
